@import '../../assets/styles/places';

.btn-icon-event {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  @extend %colors;
  position: relative;
  margin: 5px;
  .mf {
    color: var(--ecard);
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
  }
  &::before {
    content: '';
    padding: 1px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49.2%, -52%);
    transition: all 400ms ease-in-out 0s;
    border-color: #FFF;
  }
  
  &.border-effect {
   @extend %color-checked;
  }

  &.wth {
    width: 5px;
    height: 12px;
  }
}