.dropdown-container {
  width: 100%;
  position: relative;
  .btn-dropdown {
    width: 100%;
    height: 40px;
    background-color: var(--edrop);
    border-radius: 4px;
    color: var(--default);
    border: 2px solid rgba(136, 135, 135, 0.055);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    span {
      font-size: 12px;
      color: var(--etxt);
      letter-spacing: 1.5px;
      font-weight: 550;
    }
    .icn-clr {
      transition: all 400ms ease-in-out;
      color: var(--etxt);
      &.rotate {
        transition: all 400ms ease-in-out;
        transform: rotate(180deg);
      }
    }
    &:active {
      background-color: var(--efooter-card);
    }
  }

  .list-dropdown {
    width: 100%;
    background-color: var(--edrop);
    border-radius: 4px;
    position: absolute;
    top: 45px;
    z-index: 1;
    padding: 5px 0;
    color: var(--etxt);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 250px;
    overflow-y: auto;   
    .item-dropdown {
      height: auto;
      .action-dropdonw {
        cursor: pointer;
        width: 25px;
        height: 25px;
        border-radius: 4px;
        background-color: var(--bgc);
        display: flex;
        padding: 0 5px;
        margin: 2px 3px;
        span {
          font-size: 10px;
          color: var(--etext-default);
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:active {
          transform: scale(0.97);
          background-color: rgba(255, 255, 255, 0.1);
          span {
            user-select: none;
          }
        }
      }
      &::-webkit-scrollbar {
        width: 0px;
      }
    }

  }
}