:root {
  --primary: #10CD45;
  --grey: #9DADB9;
  --line-table: #EEF2F5;
  --text-red: #E44067;
  --text-table: #414141;
  --text-header-table: #878787;
  --text-black: #000000;
  --default: #FFFFFF;

  --epurple: #795dc4ec;
  --ered: #e43825dc;
  --eorange: #e77b27;
  --eyellow: #f3c018f8;
  --egreen: #4cc6b0;
  --eblue: #39a4e6e7;
  --eborder: #f5f0f01a;
  --etext-default: #e1e3e6;
  --etext: #8e8f92;
  --ecard: #4b4a4afb;
  --eactive-toggle: #4d4951;
  --efooter-card: #312f33;
  --ebtn-grey: #3a393c;

  --edrop: #3c3b40;
  --bgc: #4c4c53;
  --bgc-default: #747479f8;
  --etxt: #b2aeb7;
}