@import '../../assets/styles/mixis.scss';

.container {
  height: 65vh;
  overflow-y: scroll;
  @extend %scroll;
  padding: 0 20px;
  .customers {
    width: 100%;
    border-spacing: 8px 2px;
    thead th {
      position: sticky;
      top: 0;
      background-color: var(--default);
    }
  }
}