.container-router {
  display: flex;
  height: 100vh;
  width: 100%;
  .navbar {
    height: 100vh;
    width: 300px;
  }
  .router-pages {
    padding: 30px;
    width: calc(100% - 300px);
  }
}

@media (max-width: 1024px) {
  .container-router {
    height: 100vh;
    .navbar {
      width: 80px;
    }
    .router-pages {
      padding: 0;
      width: calc(100% - 80px);
    }
  }
  
}