%colors {
  &.red {
    background-color: var(--ered);
  }
  &.orange {
    background-color: var(--eorange);
  }
  &.yellow {
    background-color: var(--eyellow);
  }
  &.green {
    background-color: var(--egreen);
  }
  &.blue {
    background-color: var(--eblue);
  }
  &.purple {
    background-color: var(--epurple);
  }
}

%color-checked {
  &.red {
    background-color: var(--ered);
    &::before {
      border: 2px solid var(--ered);
      opacity: 0.5;
      box-shadow: 0 0 2px var(--ered);
    }
  }
  &.orange {
    background-color: var(--eorange);
    &::before {
      border: 2px solid var(--eorange);
      opacity: 0.5;
      box-shadow: 0 0 2px var(--eorange);
    }
  }
  &.yellow {
    background-color: var(--eyellow);
    &::before {
      border: 2px solid var(--eyellow);
      opacity: 0.5;
      box-shadow: 0 0 2px var(--eyellow);
    }
  }
  &.green {
    background-color: var(--egreen);
    &::before {
      border: 2px solid var(--egreen);
      opacity: 0.5;
      box-shadow: 0 0 2px var(--egreen);
    }
  }
  &.blue {
    background-color: var(--eblue);
    &::before {
      border: 2px solid var(--eblue);
      opacity: 0.5;
      box-shadow: 0 0 2px var(--eblue);
    }
  }
  &.purple {
    background-color: var(--epurple);
    &::before {
      border: 2px solid var(--epurple);
      opacity: 0.5;
      box-shadow: 0 0 2px var(--epurple);
    }
  }
}