:root {
  --primary: #10CD45;
  --grey: #9DADB9;
  --line-table: #EEF2F5;
  --text-red: #E44067;
  --text-table: #414141;
  --text-header-table: #878787;
  --text-black: #000000;
  --default: #FFFFFF;

  --epurple: #795dc4ec;
  --ered: #e43825dc;
  --eorange: #e77b27;
  --eyellow: #f3c018f8;
  --egreen: #4cc6b0;
  --eblue: #39a4e6e7;
  --ecard: #3c3b40;
  --eactive-toggle: #4d4951;
  --efooter-card: #312f33;
  --ebtn-grey: #3a393c;
}