:root {
  --primary: #10CD45;
  --grey: #9DADB9;
  --line-table: #EEF2F5;
  --text-red: #E44067;
  --text-table: #414141;
  --text-header-table: #878787;
  --text-black: #000000;
  --default: #FFFFFF;
}