.use-image {
  display: flex;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 30px;
  }
  span {
    margin-left: 50px;
  }
}